* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #171717;
}

.navbar {
  background-color: #171717;
  font-family: 'Poppins', sans-serif;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.navbar-brand {
  padding-top: 0.8rem;
}

.nav-link {
  text-decoration: none;
  color: #FFFF;
  font-weight: 600;
}

.nav-link:hover {
  color: #FFFF;
}

.navbar-toggler {
  border: transparent;
}

main {
  margin-top: 5rem;
}

main h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  font-size: 7rem;
  color: #FFFF;
  margin: 0;
  margin-top: 5rem;
  line-height: 7.5rem;
}

main p {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 0;
  color: #FFFF;
  margin-bottom: 4rem;
}

main a {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 1rem;
  text-decoration: none;
  color: #FFFF;
  padding: 0.8rem 3.5rem;
  background-color: #f6ae2d;
  border-radius: 0.3rem;
}

main a:hover {
  color: #FFFF;
}

main img {
  border-radius: 5px;
}

.about {
  margin-top: 5rem;
}

.about h2 {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 3rem;
  color: #FFFF;
}

.about p {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #FFFF;
}

.shop {
  margin-top: 5rem;
}

.shop h2 {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 3rem;
  color: #FFFF;
  margin-bottom: 5rem;
}

.card {
  background-color: transparent;
  border: none;
  position: relative;
}

.card img {
  border-radius: 0.3rem;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.card h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  color: #FFFF;
}

.card h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  color: #B8B8B8;
}

.article {
  position: relative;
  height: 350px;
}

.buttonP {
  position: absolute;
  right: 1rem;
  bottom: 1.3rem;
  cursor: pointer;
}

.button {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 1rem;
  text-decoration: none;
  color: #FFFF;
  padding: 0.5rem 1rem;
  background-color: #f6ae2d;
  border-radius: 0.3rem;
}

.button:hover {
  color: #FFFF;
}

.price {
  color: #f6ae2d;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
}

.shoppingCart {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(37, 37, 37, 0.567);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.shoppingCart h2 {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 3rem;
  color: #FFFF;
  margin-bottom: 2rem;
}

.shoppingCart p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  color: #f6ae2d;
}

.shoppingCart h6 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  color: #FFFF;
}

.shoppingCartContainer {
  position: relative;
  margin: auto;
  width: 80%;
  max-width: 800px;
  height: 75%;
  background-color: #171717;
  border-radius: 10px;
  overflow-y: scroll;
}

.shoppingCartContainer::-webkit-scrollbar {
  display: none;
}

.modalClose {
  position: absolute;
  top: 30px;
  right: 30px;
  color: #FFFF;
  cursor: pointer;
}

.modalClose:hover {
  color: #FFFF;
}

.modalShow {
  opacity: 1;
  pointer-events: unset;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.shoppingCartHeader {
  border-bottom: 1px solid #ccc;
}

.shoppingCartImage {
  max-width: 80px;
  max-height: 80px;
  border-radius: 5px;
  margin-right: 0.8rem;
  margin-bottom: 0.6rem;
}

.shoppingTotal {
  min-height: 96px;
}

.comprarButton {
  border: none;
}

.shoppingCartQuantityInput {
  width: 50px;
  border-radius: 5px;
  border: none;
  color: #f6ae2d;
  font-weight: bold;
  background-color: transparent;
}

.buttonX {
  background-color: #cb3234;
  color: #FFFF;
  padding: 4px 12px;
  border-radius: 5px;
  border: none;
  font-weight: 600;
}

.shoppingCartTotal {
  margin-left: 1rem;
}

.contact {
  margin-top: 5rem;
}

.contact h2 {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 3rem;
  color: #FFFF;
  margin-bottom: 5rem;
}

.form {
  background-color: #FFFF;
  border-radius: 0.3rem;
  position: relative;
  padding: 3rem;
}

.form label {
  color: #f6ae2d;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 600;
}

.form input, .form textarea {
  border: none;
  background-color: #D9D9D9;
}

.form .enviar {
  border-radius: 0.3rem;
  background-color: #f6ae2d;
}

.footer p {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  color: #B8B8B8;
}

@media (max-width: 991px) {
  .navbar-nav {
    height: 100vh;
    text-align: center;
    margin-top: 8rem;
  }
  .cartIcon {
    width: 25px;
    height: auto;
  }
  .nav-item {
    font-size: 1.5rem;
    border-bottom: #4a4a4a solid 1px;
    padding: 0.8rem 0;
  }
}
/*# sourceMappingURL=style.css.map */