// Normalize
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #171717;
}

// Navbar
.navbar{
    background-color: #171717;
    font-family: 'Poppins', sans-serif;
}

.navbar-brand{
    padding-top: 0.8rem;
}

.nav-link{
    text-decoration: none;
    color: #FFFF;
    font-weight: 600;
}

.nav-link:hover{
    color: #FFFF;
}

.navbar-toggler{
    border: transparent;
}

// Main 
main{
    margin-top: 1rem;

    h1{
        font-family: 'Oswald', sans-serif;
        font-weight: 600;
        font-size: 7rem;
        color: #FFFF;
        margin: 0;
        margin-top: 5rem;
        line-height: 7.5rem;
    }

    p{
        font-family: 'Poppins', sans-serif;
        font-size: 1rem;
        font-weight: 400;
        margin-top: 0;
        color: #FFFF;
        margin-bottom: 4rem;
    }

    a{
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 1rem;
        text-decoration: none;
        color: #FFFF;
        padding: 0.8rem 1.5rem;
        background-color: #009368;
        border-radius: 0.3rem;
    }

    a:hover{
        color: #FFFF;
    }
}

// About
.about{
    margin-top: 5rem;

    h2{
        font-family: 'Oswald', sans-serif;
        font-weight: 500;
        font-size: 3rem;
        color: #FFFF;
    }

    p{
        font-family: 'Poppins', sans-serif;
        font-size: 1rem;
        font-weight: 400;
        color: #FFFF;
    }
}

// Shop
.shop{
    margin-top: 5rem;

    h2{
        font-family: 'Oswald', sans-serif;
        font-weight: 500;
        font-size: 3rem;
        color: #FFFF;
        margin-bottom: 5rem;
    }
}

.card{
    background-color: transparent;
    border: none;
    position: relative;
    
    img{
        border-radius: 0.3rem;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    
    h3{
        font-family: 'Poppins', sans-serif;
        font-size: 1.2rem;
        font-weight: 600;
        color: #FFFF;
    }
    
    h4{
        font-family: 'Poppins', sans-serif;
        font-size: 1rem;
        color: #B8B8B8;
    }
    
}

.articulo{
    position: relative;
    height: 350px;
}

.button-p{
    position: absolute;
    right: 1rem;
    bottom: 1.3rem;
}

.button{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    text-decoration: none;
    color: #FFFF;
    padding: 0.5rem 1rem;
    background-color: #009368;
    border-radius: 0.3rem;
}

.button:hover{
    color: #FFFF;
}

.price{
    color: #009368;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
}

// Carrito
.shopping-cart{
    h2{
        font-family: 'Oswald', sans-serif;
        font-weight: 500;
        font-size: 3rem;
        color: #FFFF;
        margin-bottom: 5rem;
    }

    p{
        font-family: 'Poppins', sans-serif;
        font-size: 1.2rem;
        font-weight: 600;
        color: #009368;
    }

    h6{
        font-family: 'Poppins', sans-serif;
        font-size: 1.2rem;
        font-weight: 600;
        color: #FFFF;
    }
}

.shopping-cart-header {
    border-bottom: 1px solid #ccc;
}

.shopping-cart-image {
    max-width: 80px;
    border-radius: 5px;
    margin-right: 0.8rem;
    margin-bottom: 0.6rem;
}

.shopping-cart-total {
    min-height: 96px;
  }
  

// Contact
.contact{
    margin-top: 5rem;

    h2{
        font-family: 'Oswald', sans-serif;
        font-weight: 500;
        font-size: 3rem;
        color: #FFFF;
        margin-bottom: 5rem;
    }
}

.form{
    background-color: #FFFF;
    border-radius: 0.3rem;
    position: relative;
    padding: 3rem;

    label{
        color: #009368;
        font-family: 'Poppins', sans-serif;
        font-size: 1rem;
        font-weight: 600;
    }

    input{
        border: none;
        background-color: #D9D9D9;
    }

    textarea{
        @extend input;
    }

    .enviar{
        border-radius: 0.3rem;
        background-color: #009368;
    }
}


// Footer 
.footer{
    p{
        font-family: 'Poppins', sans-serif;
        font-size: 0.8rem;
        color: #B8B8B8;
    }
}